body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    flex-direction: column;
    min-height: 10vh;
    background-color: salmon;
}

.title {
    font-size: 2em;
}

.about {
    flex-direction: column;
}

.content {
    background-color: olivedrab;
}
.item {
    margin: 0 10vw;
}